#issues-root-bpfjVLpdn5z .AnswerTable {
  width: 100%;
  tr {
    width: 50%;
    float: left;
  }
  td > a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  td.position {
    &.yes a { color: green; }
    &.no a { color: red; }
    &.maybe a { color: gray; }
  }
}
