$helvetica: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

#issues-root-bpfjVLpdn5z {
  *, *:before, *:after {
    box-sizing: border-box;
  }
  font-family: $helvetica;

  h2.category {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 999px;
    color: white;
  }

  .flat {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list {
    text-transform: uppercase;
    text-align: center;
    width: 40px;
    border-radius: 5px;
    &, a {
      font-weight: 700;
      color: white;
    }
  }
  span.list {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
  }

}

