#issues-root-bpfjVLpdn5z .IssuesList {
  @media screen and (min-width: 500px) {
    & > li {
      float: left;
      width: 50%;
      padding-right: 10px;
      margin-bottom: 10px;
    }
  }

  span {
    display: inline-block;
    background: black;
    padding-right: 8px;
    text-transform: uppercase;
  }

  .category {
    color: #999;
    font-size: 16px;
  }

  li > div {
    cursor: pointer;
    display: block;
    color: white;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    background-position: top center;
    background-size: cover;
    height: 160px;
    padding: 0 5px;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;

    h1, h2 {
      margin: 0;
    }
    h1 {
      font-weight: normal;
      font-size: 26px;
      margin-bottom: 10px;
      line-height: 1;
    }
    h2 {
      font-size: 14px;
      font-weight: 100;
    }
  }
}
