#issues-root-bpfjVLpdn5z .Modal {
  background: white;

  .box {
    padding: 1em;
  }

  a.close-button {
    display: inline-block;
    background: #eee;
    border-radius: 5px;
    color: #777;
    text-decoration: none;
    padding: 5px 10px;
  }

  header {
    margin: 1em 0 2em;
    h1, h2 {
      margin: 0;
    }
    h1 {
      font-size: 26px;
      margin-bottom: 6px;
    }
    h2 {
      font-size: 14px;
    }
  }

  h3 {
    margin: 20px 0 10px;
  }

  .description {
    margin: 10px 0 12px;
    p {
      margin: 0;
      & + p {
        margin-top: 10px;
      }
    }
  }

  dt {
    font-weight: 900;
    background: #eee;
    margin-top: 1em;
  }
  dd {
    margin-left: 0;
    padding: 10px;
  }

}
